.footer {
    display: flex;
    justify-content: center;
    color: #fff;;
    background: #121111;
    font-size: 12px;
    height: 20px;
    align-items: center;
    bottom: 0;
    position: fixed;
    width: 100%;
}